
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Sono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: hsl(30, 38%, 92%);
}
h1,h2{
    font-family: 'Fraunces', serif;
}


.main{
    display: flex;
    flex-direction: row;
    height: 25rem;
    width: 36rem;
    box-shadow: 13px 12px 48px 2px rgba(0, 0, 0, 0.192);
    border-radius: 10px 10px 10px 10px;
    
   
   
}
.photo{
height: 25rem;
width: 50%;
background-image: url(images/image-product-desktop.jpg);
background-size: cover;
border-radius: 10px 0 0 10px;
}

p{
    color: hsl(228, 12%, 48%);
}
.text{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 1.3rem 2rem 1.3rem 2rem;
    background-color: white;
    width: 50%;
    border-radius: 0 10px 10px 0;
}
.heading p{
    font-size: 12px;
    letter-spacing: 4px;

}
h1{
    line-height: 1;
    margin-bottom: 1em;
    color: hsl(212, 21%, 14%);
}
h2{
    font-size: 1.9em;
    color: hsl(158, 36%, 37%);;
}
.content p{
    font-size: 14px;
    line-height: 1.4;
}
.pricing{
    display: flex;

}
.pricing div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.pricing p{
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 1.2em;
}
.btn{
    height: 3rem;
  
}
.btn img{
    margin-right: 1em;
    
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.1, 0.49, 0.97, 0.64);
}
button:hover{
    background-color: hsl(159, 74%, 9%);
}

@media only screen and (max-device-width: 480px){
    .main{
        flex-direction: column;
        width: 80%;
        height: 45rem;
        border-radius: 10px 10px 10px 10px;
    }
    .photo{
        height: 45%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        background-image: url(images/image-product-mobile.jpg);

    }
    .text{
        height: 55%;
        width: 100%;
         border-radius: 0 0 10px 10px;
    }
    h1{
        margin-top: 0.5em;
        margin-bottom: 0.5em;

    }
    .content p{
        margin-right: 1.4em;
        margin-bottom: 1.1em;

    }
    .pricing p{
        margin-left: 0;
    }
    .btn{
        margin-top: 1em;
    }
    
}









